.content__clicker--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    position: relative;

    .content__clicker--content {
        max-width: 400px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        position: relative;

        .clicker__navigation {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .navigation-item {
                list-style: none;
                cursor: pointer;

                .item__icon {
                    width: 36px;
                    height: 36px;
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        -webkit-box-shadow: 0px 0px 50px 50px rgba(255, 255, 255, 0.075);
                        -moz-box-shadow: 0px 0px 50px 50px rgba(255, 255, 255, 0.075);
                        box-shadow: 0px 0px 50px 50px rgba(255, 255, 255, 0.075);
                    }
                }
            }
        }

        .clicker__farm--popup {
            position: absolute;
            bottom: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 999;

            .button__start {
                border-radius: 6px;
                padding: 6px 12px;
                width: 100%;
                background: #0D1117;
                color: #1F6FEB;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                -webkit-box-shadow: 0px 0px 25px 6px rgba(31, 110, 235, 0.2);
                -moz-box-shadow: 0px 0px 25px 6px rgba(31, 110, 235, 0.2);
                box-shadow: 0px 0px 25px 6px rgba(31, 110, 235, 0.2);
                border: 1px solid #2F353D;
                cursor: pointer;
            }

            .button__farming {
                border-radius: 6px;
                padding: 6px 12px;
                width: 100%;
                background: #151B23;
                height: 40px;
                display: flex;
                justify-content: center;
                gap: 20px;
                align-items: center;
                border: 1px solid #2F353D;

                .farming__name {
                    color: white;
                }

                .farming__amount {
                    color: white;
                }
            }

            .button__claim {
                border-radius: 6px;
                padding: 6px 12px;
                width: 100%;
                background: #238636;
                height: 40px;
                display: flex;
                justify-content: center;
                gap: 20px;
                align-items: center;
                cursor: pointer;

                .farming__name {
                    color: white;
                }
            }
        }

        .clicker__person {
            width: 100%;
            position: relative;

            &::after {
                content: "";
                display: block;
                position: absolute;
                width: 1px;
                height: 1px;
                bottom: 0;
                left: 20%;
                -webkit-box-shadow: 0px 0px 50px 50px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0px 0px 50px 50px rgba(0, 0, 0, 0.5);
                box-shadow: 0px 0px 50px 50px rgba(0, 0, 0, 0.5);
            }

            .person__img {
                max-width: 370px;
                width: 100%;
                position: relative;
                z-index: 2;
            }

            .person__img--clone {
                max-width: 370px;
                width: 100%;
                position: absolute;
                left: 0;
                top: 98%;
                height: 70%;
                filter: blur(5px);
                transform: rotate(180deg);
            }
        }
    }
}

@media only screen and (max-height: 700px) {
    .content__clicker--wrapper .content__clicker--content .person__img {
        max-width: 250px;
    }
}
