.home-header {
    width: 100%;
    height: 60px;
    background: #0D1117;
    border-bottom: 1px solid #2F353D;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__avatar--user {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border: 1px solid #3D444D;
        background-size: cover;
        background-position: center center;
    }

    .header__info--user {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;

        .info__username {
            font-size: 16px;
            font-weight: 900;
            color: #F0F6FC;
        }

        .info__name {
            font-size: 11px;
            color: #F0F6FC;
        }
    }

    .header__settings {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #3D444D;
        border-radius: 6px;
        cursor: pointer;
    }
}
